<div id = 'createPage'>

  <form action="/create" method = "post">

    <label for="">title</label>
    <input type="text" placeholder="title" name = "title">

    <label for="">image url</label>
    <input type="text" placeholder="img url" name = "img_url">

    <label for="">author</label>
    <input type="text" placeholder="author" name = "author">

    <label for="">century</label>
    <input type="text" placeholder="century" name = "century">

    <label for="">style</label>
    <input type="text" placeholder="style" name = "style">

    <label for="">seen live?</label>
    <input type="text" placeholder="seen live?" name = "seen_live">

    <label for="">city</label>
    <input type="text" placeholder="city" name = "city">

    <label for="">museum</label>
    <input type="text" placeholder="museum" name = "museum">


    <button class = "signupSig">create</button>

  </form>

</div>
