<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>piece of art</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://cliparts.co/cliparts/ki8/oBA/ki8oBAj4T.jpg"/>
  <link rel="stylesheet" href="stylesheets/slideme.css">
  <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>




    <div id='menu_layout'>

        <a id = 'home_link' href = "/"> home </a>
        <%if logged_in?%>
          <a id = 'myAlbumLink' href = "/my_album"> my album </a>
          <h4 id = 'greeting'><%= current_user.name.capitalize %></h4>

          <form action="/session" method = "post">
            <input type="hidden" name ="_method" value = 'delete'>
            <button id ='logoutBtn'>logout</button>
          </form>
          
        <%end%>

    </div>





  <%= yield %>



</body>
