<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>piece of art</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://cliparts.co/cliparts/ki8/oBA/ki8oBAj4T.jpg"/>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One|Quicksand|Great+Vibes|Tangerine|Julius+Sans+One|Cinzel" rel="stylesheet" type="text/css">
</head>
<body>


    <div id="menu_layout">
      <nav>

          <ul>
            <li>
              <a id = "home_link" href = "/"> home </a>
            </li>
            <li>
              <%if logged_in?%>
                <a id = "myAlbumLink" href = "/my_album"> my album </a>
              <%end%>
            </li>
            <li>
              <%if logged_in?%>
                <h4 id = "greeting"><%= current_user.name.capitalize %></h4>
              <%end%>
            </li>
            <li>
              <%if logged_in?%>
                <form action="/session" method = "post">
                  <input type="hidden" name ="_method" value = "delete">
                  <button id ="logoutBtn">logout</button>
                </form>
              <%end%>
            </li>
            <li></li>
          </ul>

      </nav>
    </div>





  <%= yield %>

<footer>
  <p><span>pieceOfArt  </span>|   Created by: Magdalena Bialon | ©2016 | GA Melbourne</p>
</footer>

</body>
