
<form action="signup" method = "post">

  <input type="text" placeholder="name" name = "user_name">
  <input type="text" placeholder="email" name = "user_email">
  <input type="text" placeholder="password" name = "user_password">

  <button id = "signup">signup</button>

</form>
