* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  margin: 0 auto;
}

#menu_layout {
  height: 40px;
  margin: 0;
  background-color: black;
  text-align: left;
}

#menu_index {
  height: 20px;
  padding: 10px 0 10px 0;
  background-color: black;
}


#login_section, #myAlbumSection {
  height: 280px;
  background-color: black;
  /*border-bottom: 40px solid #1a1a1a;*/
  margin: 0;
}

#myAlbumSection {
  padding-top: 40px;
  height: 230px;
}

#login_section {
  padding: 30px;
}

#home_link, #greeting, #greetIndex, #myAlbumLink, #myAlbumInx {
  text-decoration: none;
  font-size: 15px;
  display: inline;
  padding: 20px 30px 10px 30px;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

 #myAlbumInx {
  margin: 60px;
  font-family: 'Quicksand', sans-serif;
  padding: 40px;
}

.slideme {
 /*max-width: 990px;*/
  max-height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*height: 100%;*/
}

.sliding_banner {
  width: 1440px;
  height: 650px;
}

.allPaintings {
  display: inline-block;
  margin-top: 50px;
}

#mainPageGallery, #albumPageGallery {
  height: 300px;
  width: 300px;
  margin: 5px 20px 0 20px;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #b7e1fc;
}

#mainPageGallery:hover{
  box-shadow: 0 0 0 3px #3366ff;
  opacity: 0.8;
}

#albumPageGallery:hover{
  box-shadow: 0 0 0 3px #3366ff;
  opacity: 0.8;
}

#myAlbumGallery {
  padding-bottom: 100px;
}

#homeAlbumGallery {
  background-color: #333333;
  padding-top: 70px;
  padding-bottom: 100px;
}

#editPage, #createPage {
  text-align: center;
  margin: 0 auto;
}

#greetIndex {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  letter-spacing: 2pt;
  word-spacing: 5pt;
  font-weight: lighter;
  color: #b7e1fc;
  margin: 50px;
}

#createPosition {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  letter-spacing: 2pt;
  word-spacing: 5pt;
  font-weight: lighter;
  color: #b7e1fc;
  margin: -50px;
  padding-top: 20px;
  text-decoration: none;
}
/*#myAlbumInx{
  font-family: 'Great Vibes', cursive;
  font-size: 20px;
  color: #b7e1fc;
  letter-spacing: 3pt;
  word-spacing: 2pt;
}*/

.bigPainTitle, .painTitle, .painTitlealbum {
  text-decoration: none;
  font-family: 'Cinzel', serif;
  font-size: 14px;
  color: white;
  margin: 0;
}

#likes_album, .painTitlealbum {
  color: black;
}

h4, h5 {
  margin: 0;
  color: white;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
}

label {
  font-family: 'Quicksand', sans-serif;
}

input {
    cursor: auto;
    background-color: white;
    height: 30px;
    width: 100%;
    color: grey;
    font-size: 1em;
    text-align: center;
    border: 1px solid grey;
    font-family: 'Quicksand', sans-serif;
    margin-top: 8px;
    margin-bottom: 32px;
}

input:hover {
  background-color: lightgrey;
}

.loginInput, .searchInput {
  cursor: auto;
  background-color: #333333;
  height: 25px;
  width: 22%;
  color: grey;
  font-size: 1em;
  text-align: center;
  border: 1px solid grey;
  font-family: 'Quicksand', sans-serif;
}

.searchInput {
  margin-top: 50px;
}

.loginInput:hover {
  cursor: auto;
  background-color: #DAE0F2;
  height: 25px;
  width: 22%;
  color: black;
  font-size: 1em;
  text-align: center;
  border: 1px solid grey;
  font-family: 'Quicksand', sans-serif;
}

.searchInput:hover {
  cursor: auto;
  background-color: #DAE0F2;
  height: 25px;
  width: 22%;
  color: black;
  font-size: 1em;
  text-align: center;
  border: 1px solid grey;
  font-family: 'Quicksand', sans-serif;
}

#logoutBtn {
  background-color: black;
  border: none;
  padding-left: 20px;
  /*border-radius: 30px;*/
  height: 35px;
  width: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
  /*margin-bottom: 30px;*/
}

#loginBtn {
  background-color: #3eb0f7;
  border: 1px solid grey;
  height: 30px;
  width: 90px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: white;
}

#likebtn {
  background-color: grey;
  border: 1px solid lightgrey;
  height: 20px;
  width: 40px;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
  color: white;
}

#logoutBtnIndex, #loginBtnIndex, #search {
    background-color: black;
    border: 1px solid grey;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

.signupSig {
    background-color: black;
    border: 1px solid grey;
    border-radius: 35px;
    height: 67px;
    width: 65px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

.signupSig:hover{
  background-color: #51afea;
}


#search {
  height: 49px;
  width: 49px;
  border-radius: 35px;
}

#signup {
  text-decoration: none;
  color: #b7e1fc;
  font-family: 'Tangerine', cursive;
  font-size: 28px;
  /*border: 1px solid grey;
  border-radius: 40px;
  padding: 5px 10px 13px 10px;*/
}

#editPage {
  padding-bottom: 150px;
  padding-top: 150px;
  /*width: 800px;*/
  width: 80%;
}

footer {
  padding: 7px 0 10px 0;
  height: 30px;
  background-color: black;
  color: white;
  font-family:'Quicksand', sans-serif;
  font-size: 12px;
  letter-spacing: 3pt;
  word-spacing: 8pt;
  position:fixed;
  bottom:0;
  width: 100%;
}


span {
  font-family: 'Tangerine', cursive;
  font-size: 20px;
}

li {
  display: inline-block;
  font-family:'Quicksand', sans-serif;
  font-size: 13px;
}

#signupPage{
  /*width: 80%;*/
  padding-bottom: 110px;
  padding-top: 150px;
}

.signupIn{
  width: 60%;
}

#createPage{
  width: 80%;
}

#ptgImgWrapper{
 display: inline-block;
 width: 53%;
 margin-bottom: 0px;

}

#ptgDetailWrapper{
  display: inline-block;
  width: 47%;
  float:right;
  margin-top: 27px;
}

#ptgMainDetail{
  /*width: 600px;*/
  padding: 0;
  margin: 0;
  float: left;
}

#paintingImage {
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 800px;
}

#title {
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
  padding-bottom: 5px;
}

h2 {
  font-family:'Quicksand', sans-serif;
  font-size: 20px;
  padding: 5px 0 2px 15%;
  text-align: left;
}

h6 {
  font-family:'Quicksand', sans-serif;
  font-size: 9px;
}

#googLocation {
  margin: 8% 0 15px 0;
}

#map {
  opacity: 0.5;
  width: 23%;
  border: 1px solid grey;
}

#comments {
  padding-top: 8%;
  padding-bottom: 1%;
}

#ediPaintingBtn {
  font-family: 'Tangerine', cursive;
  font-size: 45px;
  color: black;
  font-weight: bolder;
  margin-right: 30px;
  text-decoration: none;
  margin-bottom: 10px;
}

#deletePainting {
    background-color: black;
    border: 1px solid grey;
    border-radius: 35px;
    height: 67px;
    width: 65px;
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

#deletePainting:hover {
  background-color: #8b0000;
}

textarea{
  width: 18%;
  height: 90px;
}

h3 {
  font-family:'Quicksand', sans-serif;
  font-size: 21px;
  padding: 10px;
  margin: 0 auto;
}

#comWrapper {
  border: 1px solid #51afea;
  padding-top: 8%;
  width: 80%;
  /*height: 100px;*/
  margin: 0 auto;
}
