body {
  text-align: center;
  margin: 0 auto;
}

#menu{
  height: 20px;
  margin: 0;
  background-color: cyan;
}

#menu_link {
  text-decoration: none;
  font-size: 15px;
}

h6{
  margin: 0;
  text-align: left;
}

.sliding_banner {
  height: 200px;
  margin: 0;
  /*height: 350px;*/
  /*width: 100%;*/
}

#login_section, #myAlbumSection, #paintDetBanner {
  height: 220px;
  background-color: yellow;
  margin: 0;
}

.slideme {
max-width: 990px;
max-height: 450px;
width: 100%;
height: 100%;
}
