
<div id = 'banner'>
  <img class = 'sliding_banner' src="http://www.ancient.eu/uploads/images/711.jpg?v=1431035676" alt="">
  <img class = 'sliding_banner' src="http://2.bp.blogspot.com/-RI47xpjrJf0/Uafc50gnF7I/AAAAAAAAq80/MwF3ETofScM/s1600/73.png" alt="">
  <img class = 'sliding_banner' src="https://hinouye.files.wordpress.com/2015/04/e6de03da0b29acc1f88649b3344b68eff0c52d99.jpg" alt="">
  <img class = 'sliding_banner' src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Siemiradski_Fackeln.jpg" alt="">
</div>


<div id = 'login_section'>

  <%if !logged_in?%>
    <form action="/session" method = "post">
      <label for="">email</label>
      <input type="text" name = "email">
      <label for="">password</label>
      <input type="password" name = "password">
      <button>login</button>
    </form>
  <%end%>

  <%if logged_in?%>
    <h3>Hello <%= current_user.name %></h3>
    <a href="/my_album">my album</a>
    <form action="/session" method = "post">
      <input type="hidden" name ="_method" value = 'delete'>
      <button>logout</button>
    </form>
  <%end%>

  <form action="/results" method = "get">
    <input type="text" placeholder = "painting title"  name = "painting_search" >
    <button id = "search">search painting</button>
  </form>


</div>
