<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>piece of art</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://cliparts.co/cliparts/ki8/oBA/ki8oBAj4T.jpg"/>

  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>


  <menu id = 'menu'>
    <h6><a id = 'menu_link' href = "/"> home </a></h6>
    <%if logged_in?%>
      <h6><a id = 'myAlbumLink' href = "/my_album"> go to my album </a></h6>
      <h3>Hello <%= current_user.name %></h3>
    <%end%>
  </menu>


  <%= yield %>

</body>
