<div id = 'myAlbumSection'>

  <%if logged_in?%>
    <h3>Hello <%= current_user.name %></h3>
    <a  href="/create">create new position</a>
    <form action="/results" method = "get">
      <input type="text" placeholder = "painting title"  name = "painting_search" >
      <button id = "search">search painting</button>
    </form>
  <%end%>

</div>



<div id = 'myAlbumGallery'>

   <% @painting %>






</div>
